.prodacts-container {
    display: flex;
    width: 1200px;
    height: 850px;
    background-color: rgb(222, 230, 229);
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.prodacts-container .prodacts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    height: 800px;
    background-color: darkcyan;
    width: 700px;
    position: relative;
}

.prodacts-container .prodacts .add-cart button {
    width: 320px;
    height: 55px;
    border-radius: 8px;
    background-color: #FBBF23;
    margin-top: 20px;
    cursor: pointer;
    font-size: 25px;
    border: none;
}

.prodacts-container .prodacts .Buy-now button {
    margin-top: 10px;
    width: 320px;
    height: 55px;
    border-radius: 8px;
    font-size: 25px;
    border-color: #61A5FA;
    cursor: pointer;
}

.prodacts-container .prodacts .read-reviews {
    margin-top: 20px;
    display: flex;
    position: relative;
    right: 90px;
}

.prodacts-container .prodacts .read-reviews span {
    color: #61A5FA;
    font-size: 25px;
    cursor: pointer;
    border-bottom: 1px solid;
}

.prodacts-container .prodacts .shop-basket {
    position: absolute;
    right: 0px;
    width: 40px;
    cursor: pointer;
    top: 10px;
}

.prodacts-container .prodacts .shop-basket img {
    width: 100%;
    border-radius: 15px;
}

.prodacts-container .prodacts .shop-basket .quantity {
    position: absolute;
    right: 15px;
    color: rgb(255, 0, 170);
    font-weight: bold;
    top: -3px;
}