.commiunity {
    flex-direction: column;
}

.commiunity .head-commiunity {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.commiunity .head-commiunity h2 {
    color: #217BF4;
    font-size: 18px;
}

.commiunity .head-commiunity span {
    color: #0A093D;
    font-size: 35px;
}

.commiunity .head-commiunity p {
    color: #656464;
    width: 350px;
}

.commiunity .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    gap: 40px;
    margin-top: 30px;
    background-color: aliceblue;
}

.commiunity .grid-container .members {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .members svg {
    background-color: #217BF4;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.commiunity .grid-container span {
    color: #2F2C4A;
    font-size: 24px;
    grid-column-start: 2;
}

.commiunity .grid-container p {
    color: #656464;
    grid-column-start: 2;
}

.commiunity .grid-container .Groups {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .Groups svg {
    background-color: #f05b47;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.commiunity .grid-container .Forum {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .Forum svg {
    background-color: #f3b94e;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.commiunity .grid-container .Custom-Module {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .Custom-Module svg {
    background-color: #217BF4;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.commiunity .grid-container .List-Builder {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .List-Builder svg {
    background-color: #f05b47;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.commiunity .grid-container .List-Scroll-Effects {
    display: grid;
    width: 520px;
    height: 180px;
    border-radius: 14px;
    grid-template-columns: 140px 380px;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 9px #e7ebef;
}

.commiunity .grid-container .List-Scroll-Effects svg {
    background-color: #f3b94e;
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}