.social-place {
    display: flex;
    flex-direction: column;
}

.social-place .part-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.social-place .part-1 .social-network {
    display: flex;
    flex-direction: column;
    width: 390px;
    justify-content: center;
}

.social-place .part-1 .social-network h2 {
    color: #217BF4;
    cursor: pointer;
    width: 106px;
}

.social-place .part-1 .social-network span {
    color: #0A093D;
    font-size: 35px;
}

.social-place .part-1 .social-network p {
    color: #656464;
}

.social-place .part-1 .social-network ul {
    margin-top: 20px;
    width: 90px;
}

.social-place .part-1 .social-network ul li {
    color: #171648;
    cursor: pointer;
}

.social-place .part-1 .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: 0.5s;
}

.social-place .part-1 .imgs .first-img {
    grid-row-end: 3;
    grid-row-start: 1;
    margin-top: 60px;
}

.social-place .part-1 .imgs img {
    cursor: pointer;
    transition: transform .2s;
}

.social-place .part-1 .imgs img:first-child:hover {
    transform: scale(1.2);
}

.social-place .part-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.social-place .part-2 .rating .stars {
    display: flex;
    align-items: center;
    width: 95px;
    cursor: pointer;
}

.social-place .part-2 .rating .members {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 195px;
}

.social-place .part-2 .rating p {
    color: #8C8C8C;
    width: 236px;
}

.social-place .part-2 button {
    color: white;
    background-color: #217BF4;
    width: 165px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 14px;
    margin-top: 10px;
}

.social-place .part-2 .awwards .trophy {
    display: flex;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.social-place .part-2 .awwards .github {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
}

.social-place .part-2 .awwards p {
    color: #8C8C8C;
    width: 236px;
}

.social-place .part-2 button:hover {
    background-color: white;
    color: #217BF4;
    border-radius: 14px;
    border-color: #217BF4;
    border: 1px solid;
}

.social-place .part-2 .achievement h2 {
    color: #217BF4;
    font-size: 20px;
    width: 142px;
}

.social-place .part-2 .achievement span {
    color: #0A093D;
    font-size: 30px;
    width: 380px;
    display: flex;
    line-height: 1.2;
}

.social-place .part-2 .achievement p {
    color: #8C8C8C;
    width: 305px;
}