.section-2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1000px;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.solutions h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(31, 31, 38, 1);
    font-size: 40px;
    margin-bottom: 20px;
}

.solutions h3 {
    color: rgba(66, 102, 102, 1);
    margin-bottom: 50px;
    width: 440px;
}

.section-2 .influencer {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px
}

.section-2 button {
    border: none;
    color: black;
    margin-top: 40px;
}

.section-2 .influencer-card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.influencer-card .head-vector {
    display: flex;
    margin-left: 65px;
}

.influencer-card .card-img {
    width: 30px;
}

.influencer-card .likes {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 100px;
}

.influencer h2 {
    color: rgba(179, 60, 219, 1);
    font-size: 18px;
}

.influencer h3 {
    color: rgba(31, 31, 38, 1);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.influencer p {
    width: 300px;
}

.section-2 .commiunity {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 267px;
}

.section-2 .commiunity-card {
    position: relative;
    display: flex;
    width: 267px;
    justify-content: center;
    align-items: center;
}

.section-2 .commiunity ul li:first-child {
    position: absolute;
    left: 0px;
    top: 50px;
}

.section-2 .commiunity ul li:nth-child(2) {
    position: absolute;
    right: 0px;
    top: 50px;
}

.section-2 .commiunity ul li:nth-child(3) {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.section-2 .commiunity ul li:nth-child(4) {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.section-2 .commiunity ul li:last-child {
    position: absolute;
    top: 0px;
    left: 110px;
}

.commiunity span {
    color: rgba(251, 186, 51, 1);
    font-size: 18px;
}

.commiunity h2 {
    color: rgba(31, 31, 38, 1);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.commiunity p {
    width: 300px;
}

.section-2 .services {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    height: 269px;
    margin-top: 60px;
}

.services span {
    color: rgba(222, 40, 121, 1);
    font-size: 18px;
}

.services h2 {
    color: rgba(31, 31, 38, 1);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.section-2 .services-card {
    margin-top: -70px;
}

.services p {
    width: 300px;
}