/* laptops */
@media screen and (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

/* tablets */
@media screen and (max-width: 768px) {
    .container {
        width: 576px;
    }
}

/*smartfones*/
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}