body {
    background-color: white;
    padding-top: 30px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
}

.d-flex {
    display: flex;
}